body {
  color: #8e9194;
  /* background-color: #f4f6f9; */
  background: linear-gradient(to right, #a8e5b8, #a2d0ea);
}
.avatar-xl img {
  width: 110px;
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
  border-style: none;
}
.text-muted {
  color: #aeb0b4 !important;
}
.text-muted {
  font-weight: 300;
}
/* .form-control { */
/* .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4d5154;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #eef0f3;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
} */

nav .fa-solid{
 display: none;
}
@media only screen and (max-width: 360px) {
  nav .navbar-links{
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100vh;
    right: 0;
    top: 0;
    transition: 0.5s;
    z-index: 1;
  }

  nav .navbar-links a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 28px;
  }
  nav .fa-solid{
    color: #000;
    display: block;
    font-size: 20px;
    cursor: pointer;
    margin: 15px;
  }
}

